/*css styles for the whole page: */

.main {
  width: auto;
  height: 1352px;

  background: linear-gradient(to top left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

/*css styles for header: */

h1 {
  margin: 0;

  color: #323838;
}

.header {
  height: 236px;
  padding-top: 100px;

  text-align: center;
}

.header>p {
  margin: 48px 0 0 0;

  font: serif;
  font-size: 92px;
  font-weight: bolder;
  
  letter-spacing: 2.4px;
  color: white;
  text-shadow: 0 6px 5px black, 0 7px 5px black, 0 8px 5px black, 0 9px 5px black, 0 10px 5px black, 0 11px 5px black;
}