.main {
  width: auto;
  height: 1352px;

  background: linear-gradient(to top left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
h1 {
  margin: 0;

  color: #323838;
}
.part1 {
  height: 236px;
  padding-top: 100px;

  text-align: center;
}
.part1>p {
  margin: 0;
  margin-top: 48px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 92px;
  font-weight: bold;
  letter-spacing: 2.4px;
  color: white;
  text-shadow: 0 5px black, 0 10px black, 0 15px black;
}
.part2 {
  height: 318px;

  text-align: center;
}
.textbox {
  position: relative;
  left: 50%;
  transform: translate(-320px);

  width: 641px;
  height: 204px;
  margin-top: 23px;
  border-radius: 5px;

  background: white;
}
.textbox>p {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 29px;
  text-align: left;
  line-height: 36px;
  word-wrap: break-word;
  color: #007800;
}
.part3 {
  height: 351px;

  text-align: center;
}
.pictures {
  display: flex;
  justify-content: center;

  margin-top: 35px;
}
.picture-box {
  width: 315px;
  height: 207px;
}
.picture-box::before {
  content: "";
  display: block;
  position: relative;
  top: -10px;
  left: -10px;
  z-index: 9999;

  width: 315px;
  height: 207px;
  border: 10px solid white;
}
.picture-box:nth-of-type(1) {
  background: no-repeat center/315px 207px url(../image/empire-state.png);
}
.picture-box:nth-of-type(2) {
  margin-left: 40px;
  margin-right: 40px;

  background: no-repeat center/315px 207px url(../image/liberty.png);
}
.picture-box:nth-of-type(3) {
  background: no-repeat center/315px 207px url(../image/midtown.png);
}
.picture-box .content-box {
  display: none;
  position: relative;
  top: -207px;
  z-index: 99999;

  width: 315px;
  height: 207px;
}
.picture-box:nth-of-type(1)::after {
  content: "";
  display: none;
  position: absolute;
  top: 734px;
  z-index: 9999;

  width: 315px;
  height: 207px;

  background: rgba(58, 1, 132, 0.44);
}
.picture-box:nth-of-type(3)::after {
  content: "";
  display: none;
  position: absolute;
  top: 734px;
  z-index: 9999;
  opacity: 1.0;
  width: 315px;
  height: 207px;

  background: rgba(255, 231, 179, 0.3);
}
.picture-box:hover .content-box,
.picture-box:nth-of-type(1):hover::after,
.picture-box:nth-of-type(3):hover::after {
  display: block;
}

.part4 {
  height: 337px;

  text-align: center;
}
.multi-column-textbox::before {
  content: "";

  position: relative;
  top: -68px;
  left: 168px;

  width: 0;
  height: 0;
  
  border-right: 21px solid transparent;
  border-left: 21px solid transparent;
  border-bottom: 21px solid white;
}
.multi-column-textbox {
  position: relative;
  left: 50%;
  transform: translate(-315.5px);

  width: 581px;
  height: 154px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 39px;
  border-radius: 5px;

  font-family: serif;
  font-size: 16px;
  columns: 3;
  text-align: justify;
  word-wrap: break-word;

  background: white;
}
.multi-column-textbox>p:first-of-type {
  position: relative;
  top: -36px;
  
}