/*css styles for main：*/

.main-text {
  height: 318px;

  text-align: center;
}

.textbox {
  position: relative;
  left: 50%;
  transform: translate(-320px);

  width: 641px;
  height: 204px;
  margin-top: 23px;
  border-radius: 5px;

  background: white;
}

.textbox>p {
  padding: 30px 50px;

  font-size: 29px;
  text-align: left;
  line-height: 36px;
  word-wrap: break-word;
  color: #007800;
}

/*css styles for part 3：*/

.main-pictures {
  height: 351px;

  text-align: center;
}

.main-pictures a {
  display: block;
  position: absolute;
  left: 98.5px;

  width: 117px;
  height: 35px;

  line-height: 35px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0;

  background: black;
}

.pictures {
  display: flex;
  justify-content: center;

  margin-top: 35px;
}

.picture-box {
  width: 315px;
  height: 207px;
  border: white solid 10px;

  font-family: 'Merriweather' serif;
}

.picture-box p {
  position: relative;
  top: -5px;

  padding-left: 20px;
  padding-right: 20px;

  font-style: italic;
  font-size: 15px;
}

.picture-box:nth-of-type(1) {
  color: white;

  background: no-repeat center/315px 207px url(../image/empire-state.png);
}

.picture-box:nth-of-type(2) {
  overflow: hidden;
  
  margin-left: 40px;
  margin-right: 40px;

  color: white;

  background: no-repeat center/315px 207px url(../image/liberty.png);
}

.picture-box:nth-of-type(3) {
  color: black;

  background: no-repeat center/315px 207px url(../image/midtown.png);
}

.picture-box .content-box {
  display: none;
  position: absolute;
  z-index: 2;

  width: 315px;
  height: 207px;
}

.picture-box .content-box:nth-of-type(2) {
  top: 729px;
}

.picture-box:nth-of-type(1)::after {
  content: "";
  display: none;
  position: absolute;
  top: 736px;
  z-index: 1;

  width: 315px;
  height: 207px;

  background: rgba(58, 1, 132, 0.44);
}

.picture-box:nth-of-type(2)>.gray-mask {
  display: none;
  top: 736px;
  z-index: 1;
  transform: rotate(0.1turn) translate(-70px, -60px);

  width: 217px;
  height: 217px;

  background: rgba(0, 0, 0, 0.5);
}

.picture-box:nth-of-type(3)::after {
  content: "";
  display: none;
  position: absolute;
  top: 736px;
  z-index: 1;
  width: 315px;
  height: 207px;

  background: rgba(255, 231, 179, 1);
}

.picture-box:hover .content-box,
.picture-box:nth-of-type(1):hover::after,
.picture-box:nth-of-type(3):hover::after {
  display: block;
}

.picture-box:nth-of-type(2):hover .gray-mask {
  display: block;
}

.picture-box:nth-of-type(3) h4 {
  padding-left: 58px;
  padding-right: 58px;
}

.picture-box:nth-of-type(3) h4::after {
  content: '';  
  position: absolute;    
  top: 53px;

  margin-left: 40px;  
  width: 233px;    
  left:0;    
  border-bottom: solid  #BCB7AB 1px;
}
